[submodule "content/static/katacontainers"]
	path = content/static/katacontainers
	url = https://github.com/convistaalmar/www.katacontainers.io
[submodule "www"]
	url = https://github.com/convistaalmar/www.katacontainers.io
	path = static/www
