{% extends "admin/base_site.html" %}
{% load staticfiles %}
{% load get_sites from custom_tags %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'content/admin/css/style.css' %}">

{% endblock %}

{% block branding %}
    <a href="{% url 'admin:index' %}" class="branding">The OpenStack Foundation CMS</a>
{% endblock %}

{% block userlinks %}
    {% if user.is_superuser  %}
        {% get_sites as sites %}
        <form id="slug-form">
            <select name="header-select" id="header-select">
            {% for site in sites %}
                <option  {% if site.id == request.site.id %}selected{% endif %}
                         value="http://{{ site.domain}}{% if request.META.SERVER_PORT %}:{{ request.META.SERVER_PORT }}{% endif %}/admin">
                    {{ site.name }}</option>
            {% endfor %}
            </select>
            <button class="btn btn-primary" type="submit">Go</button>
        </form>

       &nbsp;&nbsp;<a href="{% url 'clear-cache' %}">Clear cache</a> /
         <a href="{% url 'pull-theme-repo' %}">Update theme repo</a>
         {% if not request.site.settings.is_fully_certified %}/
             <a href="{% url 'get-ssl-certificate' %}">Get SSL certificates</a>
         {% endif %}

    {% endif %}
        /
    {{ block.super }}
{% endblock %}


{% block footer %}
    {{ block.super }}
    <!-- jQuery -->
    <script src={% static '/js/jquery.js' %}></script>

    <script src={% static '/content/admin/js/scripts.js' %}></script>

{% endblock %}