{% extends 'base.html' %}
{% load get_next_talk get_prev_talk from custom_tags %}
{% block navigation %}
    {% with talk as page %}
        {{ block.super }}
    {% endwith %}
{% endblock %}
{% block extrahead %}
    {% get_prev_talk talk as prev %}
    {% get_next_talk talk as next %}

    {% if prev %}
        <link rel="prev" href="{{ prev }}">
    {% endif %}
    {% if next %}
        <link rel="next" href="{{ next }}">
    {% endif %}
{% endblock %}
{% block content %}
    <!-- Talk block info -->
    <div class="black-light-grey">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 center" style="margin-top:23px;">
                    {% if talk.image %}
                        <div class="headshot-wrapper img-large">
                            <img class="image-headshot" src="{{ talk.image.url }}" alt>
                        </div>
                    {% endif %}
                    <div class="talk-img-caption">
                        <p><b>{{ talk.start | date:"l j - H:i"}}</b>{{ talk.room }}</p>
                        <p><b>{{ talk.language }} LANGUAGE</b>{% if talk.translation %}NO SIMULTANEOUS TRANSLATION{% else %}WITH SIMULTANEOUS TRANSLATION{% endif %}</p>
                    </div>
                </div>
                <div class="col-sm-7 block">
                    <h2>{{ talk.title }}</h2>
                    {% if talk.video %}
                        <p class="center"><iframe width="526" height="296" src="{{ talk.video }}" frameborder="0" allowfullscreen=""></iframe></p>
                    {% endif %}
                    <p class="talk-content">{{ talk.content | safe}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- END Talk block info -->

    <!-- Speakers block info -->
    {% for speaker in talk.speakers.all %}
    <div class="black-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-5"></div>
                <div class="col-sm-7 block">
                    <h3>{{ speaker.name | upper}}</h3>
                    <h4>{{ speaker.workplace }}</h4>
                    <p>{{ speaker.bio | safe }}</p>
                </div>
            </div>
        </div>
    </div>
        <div class="divisor-line large-10 large-centered column" style="padding-top: 1em;"></div>
    {% endfor %}
    <!-- END Speakers block info -->

    <!-- Navigation bottom-->
    <div class="row talk-nav">
        {% get_prev_talk talk as prev %}
        {% get_next_talk talk as next %}

        {% if prev %}
            <span class="prev-talk"><a href="{{ prev }}"> < Previous</a></span>
        {% endif %}
        {% if next %}
            <span class="next-talk"><a href="{{ next }}">Next ></a></span>
        {% endif %}
    </div>
    <!-- END navigation -->
{% endblock %}

{% block footer %}
    {% with talk as page %}
        {{ block.super }}
    {% endwith %}
{% endblock %}